@model LibraryCoreProject.Core.Dtos.BookDto

<div class="jumbotron-fluid">
    <p>@Model.Author</p>
    <p>@Model.Category</p>
    <p>@Model.Title</p>
    <p>@Model.Rate</p>
    <p>@Model.Pages</p>
    <p>@Model.IsAvailable</p>
</div>